
:root {
  --bg-cl: #181c47f8;
  --bg-cl-2: #1f314b;
  --primary-cl: #fff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);


  /***
  NEW ROOT
  ***/
  --btn-bg-cl: rgb(250, 126, 9);
  --user-panel-bg: rgba(42, 42, 194, 0.938);
  --clock-bg-cl: rgb(2, 61, 52);

  /***
  DARK MODE COLORS
  ***/
  --darkMode-bg-cl: rgb(10, 1, 22);
  --welcome-card-bg: rgb(2, 2, 39);
  --welcome-card-bg-2: rgb(24, 5, 5);
  --welcome-card-border: rgb(74, 88, 94);
  --thin-border: rgb(35, 48, 49);
  --text-cl: rgb(145, 168, 164);
  --text-cl-2: rgb(210, 216, 216);
  --text-cl-3: rgb(139, 141, 141);

  /**
  BORDER SOLID COLORS
  **/
  --thin-border-1:  #0d6d5a;
  --thin-border-2:  #830616;
  --thin-border-3:  #b97207;
  --thin-border-4:  #036aa7;
  --thin-border-5:  #bba907;
  --thin-border-6:   rgb(17, 2, 31);
  --thin-border-7:  rgb(1, 11, 39);

  /***
  CARD BG
  ***/
  --card-mtn-bg:  #faba5ad0;
  --card-tel-bg:  #fa537dd0;
  --card-tigo-bg:  #6cbff7cb;
}
/* RESET */
/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #ffffff;
  color: #222;
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}




/* ================= HEADER ================= */

.store-header {
  width: 100%;
  max-width: 390px;
  height: 11.9rem;
  justify-self: center;;
  background: var(--bg-cl);
  padding: 1px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0,0,0,0.05);
  border-end-end-radius: 2rem !important;
  border-end-start-radius: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden !important;
  z-index: 99999 !important;
}



.store-header .store-header-top{
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: .2rem;
  border-bottom: 1px solid rgba(230, 227, 227, 0.295);;
}


/* TOP */
.store-header-top .store-header-top-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  position: relative;
  height: 50%;
}

.store-header-top-top .logo img{
  width: 3.5rem;
  height: 3.4rem;
  background: rgba(43, 54, 71, 0.116);
  border-radius: 50%;
  padding: .2rem;
}

.store-header-top-top .header-actions img{
  width: 2rem;
  height: 2rem;
  padding: .2rem;
  cursor: pointer;
  border-radius: 3px;
}






.store-header-top .store-header-top-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  position: relative;
  height: 50%;
}

.store-header-top-bottom .userName{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  position: relative;
}

.userName p{
  white-space: nowrap;
  font-size: .96rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100 !important;
  color: var(--text-cl);
  opacity: .99;
}

.bottom-hidder{
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: end;
  padding-bottom: 1.5rem;
  position: relative;
}

.bottom-hidder .signUpBtn{
  height: 2.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .85rem;
  white-space: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  border-radius: .3rem;
}












.store-header .store-header-bottom{
  width: 100%;
  height: 4.9rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}





.store-header-bottom h2{
  color: var(--text-cl-2);
  opacity: .8;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}






.logo img {
 margin-top: .3rem;
 -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}



/* HEADER ACTIONS */
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}





/*==============MAIN=============*/

    header{
    background: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.02);
    }

    header h2{
      color: #ff7a00;
    }




    .container{
      padding: 20px;
      margin-top: 13rem;
      max-width: 900px;
      display: flex;
      flex-direction: column;
      position: relative;

    }

    .card{
      background: var(--bg-cl-2);
      padding: 15px;
      border-radius: 12px;
      margin-bottom: 30px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    }

    .card h3{
      margin-bottom: 10px;
      color: rgb(128, 128, 128);
      font-size: .99rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
    }

     .card input[type=file]{
      color: white;
      opacity: .8;
      cursor: pointer;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 18px;
      border-radius: 8px;
      border: 1px solid #ddd;
    }

    button{
      background: #ff9900;
      color: #fff;
      opacity: .94;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 7px;
      border: none;
      cursor: pointer;
      border-radius: 6px;
    }

    .product-list {
      display: flex;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 15px;
    }

    .product{
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    }

    .product img{
      width: 100%;
      height: 120%;
      object-fit: cover;
      border-radius: 8px;
    }

    .product h4{
      font-size: 14px;
      margin: 5px 0;
    }

    .delete-btn{
      background: red;
      font-size: 12px;
      padding: 5px;
      margin-top: 5px;
    }


    .backUpLink{
      display: flex;
      align-items: center;
      width: 100%;
      height: 4rem;
      position: relative;
      justify-content: center;
      padding: .4rem;
      margin-bottom: 1rem;
      background: rgb(250, 250, 250);
      border-radius: 8px;
      border: 1px solid rgb(241, 238, 238);
    }

    .backUpLink h2{
      color: rgb(99, 99, 105);;
    }

  
/*==============MAIN====ENDS=====*/











































.foot{
  width: 100%;
  background: var(--primary-cl);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center !important;
  position: relative;
  padding: .1rem;
  border-top: 1px solid rgb(233, 231, 231);
}

.foot .foot-content{
  display: flex;
  width: 100%;
  max-width: 99%;
  height: 90%;
  padding: .2rem .1rem;
  justify-self: center;
  position: relative;
  align-items: center;;
  justify-content: center;
  gap: .5rem;
}


.cop-right {
  width: 50%;
  max-width: max-content;
  height: 100%;
  display: flex;
  padding-right: .1rem;
  align-items: center;
  justify-content: start;
  background: transparent;
  font-size: .65rem;

}

.bor{
  color: rgb(180, 175, 175);
  
}




.foot-content .powered{
  font-size: .65rem;
  width: 50%;
  max-width: max-content;
  height: 100%;
  font-weight: 800;
  background: transparent;
  padding-right: .1rem;
  color: rgb(53, 53, 104);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}



.foot-content .powered strong{
  margin-right: .2rem;
  font-weight: 500;
 font-size: .7rem;
}




















/* ================= */
/* SIDEBAR SECTION    */
/*================== */
  .createStoreSidebar{
    position: fixed;
    left: -500px;
    top: 0;
    display: block;
    background: rgb(248, 248, 248);
    width: 230px;
    height: 100vh;
    z-index: 99999999;
    transition: .5s ease;
  }

  .createStoreSidebar .sidebarSets-top{
    width: 100%;
    height: 18%;
    position: relative;
    border-bottom: 1px solid var(--thin-border-4);
    display: flex;
    padding: .7rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  .sidebarSets-top .avatarImg{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1.2rem;
    margin-bottom: .1rem;;
    position: relative;
  }

 

  .avatarImg img{
    width: 4rem;
    height: 4rem;
    padding: .2rem;
    border-radius: 50%;
    border: 1px solid rgb(244, 244, 247);
    background: rgb(247, 240, 234);
    animation: scaleWidth 5s infinite;
  }

  @keyframes scaleWidth {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    75% {
      transform: scale(1.03);
    }

    100% {
      transform: scale(1);
    }
  }





  .sidebarSets-top .avatarName{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
  }

  .avatarName .top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1.2rem;
    position: relative;
    padding-bottom: .3rem;
  }

  .avatarName img{
    width: 1.6rem;
    height: 1.6rem;
  }

  .avatarName .top small{
    font-weight: 600;
    font-size: .8rem;
    color: rgb(117, 117, 124);
    white-space: nowrap;
  }

  .avatarName .btom{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
  }

  .avatarName .btom small{
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    color:  rgb(94, 122, 119);
  }

  .avatarName .btom img{
    width: 1.8rem;
    height: 1.8rem;
  }




  .createStoreSidebar .sidebarSets-middle{
    width: 100%;
    height: 52%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .sidebarSets-middle h3{
    font-size: .87rem;
    color: var(--btn-bg-cl);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }

  .sidebarSets-middle li{
    height: 2.8rem;
    margin-top: .3rem;
    display: flex;
    padding-left: .4rem;;
  }

.sidebarSets-middle ul li img{
  border-radius: 0;
  box-shadow: none;
  border: 1px solid rgb(247, 244, 244);
  width: 2rem;
  height: 2rem;
}

.sidebarSets-middle ul li:hover{
  background: none;
}




  .createStoreSidebar .sidebarSets-bottom{
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    border-top: 1px solid var(--thin-border-4);
    flex-direction: column;
    padding:  .5rem 0;
    overflow-y: auto;
  }

  

  .sidebarSets-bottom .terms-requirements{
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: .4rem;
    align-items: center;
    justify-content: start;
    box-shadow: none;
    margin: 0;
    padding-left: 0;
  }
.terms-requirements .btnWrapper{
    position: relative;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: max-content;
    padding-left: 1.5rem;
    background: rgb(248, 247, 247);
    padding-bottom: .4rem;
    margin-left: .2rem;
    border-top: 1px solid white;
  }
 .terms-requirements .signUpBtn{
  width: 6rem;
  height: 1.7rem;
  font-size: .8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-right: 1.2rem;
  margin-top: -.1rem;
  }

  .sidebarSets-bottom  .terms-requirements .termsLink-title{
    display: flex;
    width: 100%;
    height: max-content;
    padding: .2rem;
    padding: 0 1rem;
    position: relative;
  }

  .sidebarSets-bottom  .termsLink-title  h3{
    color: var(--btn-bg-cl);
    font-size: .9rem;
    justify-self: start;
  }

  .sidebarSets-bottom .terms-requirements a{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    margin-top: .2rem;
  }

  .sidebarSets-bottom .terms-requirements .termsLink{
    display: flex;
    width: 100%;
    white-space: nowrap;
    font-size: .7rem;
    font-weight: 500;
    color: var(--thin-border-1);
    background: var(--bg-cl);
    padding: .8rem;
    height: 1.4rem;
    opacity: .8;
    align-items: center;
    border-radius: 1rem;
    transition: .1s ease;
  }

    .terms-requirements .termsLink.active {
      background: var(--thin-border-2);
      color: white;
    }

   .sidebarSets-bottom .terms-requirements  .termsLink:hover{
    background: var(--thin-border-2);
    color: white;
  }





/* ================= */
/* SIDEBAR SECTION  ENDS   */
/*================== */