
:root {
  --bg-cl: #181c47f8;
  --bg-cl-2: #1f314b;
  --secondary-bg:  rgb(235, 232, 232);
  --secondary-bg-2:  rgba(9, 21, 87, 0.63);
  --primary-cl: #ffffff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #ecece4;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);


  /***
  NEW ROOT
  ***/
  --btn-bg-cl: rgb(250, 126, 9);
  --user-panel-bg: rgba(42, 42, 194, 0.938);
  --clock-bg-cl: rgb(2, 61, 52);

  /***
  DARK MODE COLORS
  ***/
  --darkMode-bg-cl: rgb(10, 1, 22);
  --welcome-card-bg: rgb(2, 2, 39);
  --welcome-card-bg-2: rgb(24, 5, 5);
  --welcome-card-border: rgb(74, 88, 94);
  --thin-border: rgb(35, 48, 49);
  --text-cl: rgb(145, 168, 164);
  --text-cl-2: rgb(210, 216, 216);
  --text-cl-3: rgb(139, 141, 141);

  /**
  BORDER SOLID COLORS
  **/
  --thin-border-1:  #0d6d5a;
  --thin-border-2:  #830616;
  --thin-border-3:  #b97207;
  --thin-border-4:  #036aa7;
  --thin-border-5:  #bba907;
  --thin-border-6:   rgb(17, 2, 31);
  --thin-border-7:  rgb(1, 11, 39);

  /***
  CARD BG
  ***/
  --card-mtn-bg:  #faba5ad0;
  --card-tel-bg:  #fa537dd0;
  --card-tigo-bg:  #6cbff7cb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--primary-cl);
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  outline: none;
  -ms-user-select: none;;
  user-select: none;
}

/*========NAVIGATION BAR=========*/
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  position: relative;
  background: var(--primary-cl);
  overflow: hidden;
}

.container .navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 1.7rem;
  border-bottom: 1px solid var(--border-cl-2);
}

.navbar .left-side{
  display: flex;
  width: max-content;
  align-items: center;
  position: relative;
}

.left-side img{
  width: 3.4rem;
  height: 3.4rem;
}

/*===middle search=======*/
.navbar .middle-side{
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 0 .5rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.navbar .middle-side input{
width: 100%;
max-width: 760px;
border: 1px solid var(--border-cl-2);
height: 2.2rem;
border-radius: .3rem;
background: transparent;
padding-left:  3rem;
padding-right: 1rem;
outline: none;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(62, 62, 78);
font-weight: 400;
}

.middle-side .searchA{
  display: flex;
  align-items: center;
  align-items: center;
  height: 1.2rem;
  gap: .4rem;

}



.navbar .middle-side img{
  position: absolute;
  left: 1.2rem;
  width: 1.3rem;
  height: 1.3rem;
}

/**** nav right side******/
.navbar .right-side{
  display: flex;
  width: max-content;
  align-items: center;
  position: relative;
  gap: 2rem;
}

.right-side img{
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  border-radius: 50%;
}

/**================MAIN GRID CONTAINER==*/
.main-grid-container{
  display: grid;
  grid-template-columns: 14rem auto ;
  width: 100vw;
  height: 100%;
  margin-top: 4rem;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}


/*====LEFT-SIDEBAR===*/

.main-grid-container .left-sidebar{
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-cl-2);
}


.left-sidebar .left-sidebar-top{
  width: 100%;
  height: 10%;
  align-items: center;
  gap: 3rem;;
  justify-content: space-between;
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--border-cl-2);
  overflow-y: hidden;
}

.left-sidebar-top img{
  width: 1.8rem;
  height: 1.8rem;
  margin-right: .5rem;
}

.left-sidebar-top h2{
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "poppins" sans-serif;
  color: rgb(68, 68, 77);
}

.left-sidebar-top .userProfile{
  display: flex;
  width:  80%;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}




.userProfile p{
  font-weight: 500;
  font-family: "poppins" sans-serif;
  font-size: 1rem;
  color: rgb(252, 252, 252);
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--btn-bg-cl));
}

.left-sidebar-top .close-icon{
  width: 20%;
  height: 100%;
  align-items: start;
  justify-content: end;
  display: flex;
  position: relative;
  padding-right: .5rem;
}

.left-sidebar-top .close-icon .close-sidebar{
  font-size: 1.3rem;
  font-weight: 600;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-top: .4rem;
  display: none;
  width: 1.2rem;
  height: 1.2rem;
  align-items: center;
  justify-content: center;
  background: rgb(212, 134, 18);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}























.left-sidebar .left-sidebar-middle{
  width: 100%;
  height: 55%;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  background: var(--primary-cl);
  padding-left: 1rem;
  overflow-y: auto;
}

.left-sidebar-middle .sidebar-section{
  width: 100%;
  height: auto;
  padding: 1rem .2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar-section h3{
  font-size: .9rem;
  color: rgb(18, 22, 24);
  font-family: "poppins" sans-serif;
  font-weight: 600;
}

.sidebar-section ul li{
  text-decoration: none;
  list-style: none;
  width: 1005;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: start;
  background: rgb(255, 255, 255);
  margin-top: .6rem;
  border: 1px solid rgb(233, 230, 230);
  border-radius: 2px;
  transition: .2s ease;
  color: #636a6e;
}

.sidebar-section .active{
  cursor: pointer;
  background:  rgba(238, 148, 13, 0.712);
  color: var(--primary-cl);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}



.sidebar-section ul li:hover{
  cursor: pointer;
  background:  rgba(238, 148, 13, 0.712);
  color: var(--primary-cl);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.sidebar-section ul li span{
  width: 1.3rem;
  height: 100%;
  background:  var(--secondary-bg-2);
  margin-right: .4rem;
  border-start-start-radius: 2px;
  border-end-start-radius: 2px;
}

.sidebar-section ul li:hover span{
  background: var(--bg-cl-2);
}


input[type="range"]{
  width: 100%;
  margin: 10px 0;
}




































.left-sidebar .left-sidebar-bottom{
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  position: relative;
  border-top: 1px solid var(--border-cl-2);
  padding: 1rem;
  overflow-y: hidden;
}

.left-sidebar-bottom h3{
  color: rgb(84, 84, 95);
  margin: 0;
  font-size: .9rem;
}

.left-sidebar-bottom .termsBtn{
  border: none;
  width: 86%;
  height: 2.5rem;
  border: 1px solid rgb(218, 214, 214);
  background: var(--primary-cl);
  border-radius: 6px;
  color: var(--bg-cl-2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  font-family: "poppins" sans-serif;
  display: flex;
  align-items: center;
  gap: .6rem;
  justify-content: center;
  font-weight: 400;
  transition: .2s ease;
}

.termsBtn img{
  width: 1.4rem;
  height: 1.4rem;
}

.termsBtn:hover{
  color: rgb(126, 71, 20);
}


/*====LEFT-SIDEBAR=====ends===*/









































/*=====MIDDLE SECTION=====*/
.main-grid-container .middle-container{
  background: var(--primary-cl);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 1px solid var(--border-cl-2);
}



.middle-container .more-wrapper{
  width: 100%;
  height: 2.5rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
  gap: .7rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid var(--border-cl-2);
}

.more-wrapper .categories{
  width: 100%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 1rem;
}






.categories .cates{
  display: flex;
  align-items: center;
  gap: .3rem;
  position: relative;
  margin-right: 1rem;
  font-size: .8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(95, 95, 102);
  font-weight: 600;
  cursor: pointer;
}

.categories .cates img{
  width: .8rem;
  height: .8rem;
  cursor: pointer;
}




.categories .sorty{
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
    font-size: .8rem;
  color: rgb(92, 92, 100);
  font-weight: 600;
}






/**=====SORT BY ====**/
.sorty{
  width: 99%;
  height:2rem;
  display: flex;
  gap: .6rem;
  align-items: center;
  align-content: center;
  justify-content: end;
  margin-top: .4rem;
  white-space: nowrap;
}

.categories .sorty .sort-title{
  font-size: .8rem;
  color: rgb(92, 92, 100);
  font-weight: 600;
}

.categories .sorty .sorted{
  width: 6rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 1px solid var(--border-cl-2);
  border-radius: 4px;
  font-size: .8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(67, 67, 75);
  cursor: pointer;
}

.sorty .sorted img{
  width: .8rem;
  height: .8rem;
  margin-left: .3rem;
}



 .categories .sorty .more-div{
  border: 1px solid var(--border-cl-2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 6px;
  cursor: pointer;
}

.more-div img{
  width: 1.4rem;
  height: 1.4rem;
}




/*======HORIZONTAL SECTION CARD==*/
.middle-container .horizontal-card{
  width: 100%;
  height: 6rem;
  display: flex;
  gap: 1.1rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  align-items: center;
  justify-content: start;
  padding: .2rem .6rem;
  position: relative;
  margin-top: .7rem;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.horizontal-card .horiCard{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 13rem;
  height: 4rem;
  padding:  .3rem;
  gap: 1rem;
  background: var(--secondary-bg-2);
  border-radius: .8rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(26, 25, 25, 0.3);
}

.horizontal-card .horiCard-2{
  background: var(--background-cl);
  border: 1px solid rgb(243, 241, 241);
  box-shadow: 0 10px 20px rgba(3);
}

.horiCard-2 .horiRight p{
  color: rgb(63, 69, 71);
}


.horiCard-2 .horiRight small{
  color: rgb(32, 35, 36);
}

.horiCard .horiLeft{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--primary-cl);
  border-radius: 1rem;
  transition: .5s ease;
}

.horiLeft:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  cursor: pointer;;
}

.horiLeft:hover img{
  transform: rotateY(200deg);
}

.horiLeft img{
width: 90%;
height: 100%;
}


.horiCard .horiRight{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 60%;
  height: 100%;
}

.horiRight small{
  color: var(--primary-cl);
  font-family: "poppins" sans-serif;
  font-weight: 500;
  opacity: .8;
  white-space: nowrap;
}

.horiRight .inventory{
  color: var(--primary-cl);
  font-weight: 700;
  font-family: "poppins" sans-serif;
}





/*========MAIN PRODUCTS CONTAINER======*/




.products-main-container{
display: flex;
flex-direction: column;
position: relative;
width: 100%;
height: 100%;
overflow-y: auto;
overflow-x: hidden;
}

.products-main-container .all-products-wrapper{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 .2rem;
}


.products-main-container .featured-title{
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  margin-top: 1.2rem;
  padding: .2rem 1rem;
}

.featured-title h2{
  margin: 0;
  font-size: 1.4rem;
  color: var(--bg-cl-2);
  font-family: "poppins" sans-serif;
  font-weight: 700;
}


.all-products-wrapper .products-cards-wrapper{
  width: 99%;
  height: 100%;
  position: relative;
  display: grid;
  gap: .8rem;
  grid-template-columns: repeat(6, 1fr);
  padding: .3rem .6rem;
  overflow-y: hidden;
}


.all-products-wrapper .products-cards-wrapper .product-card{
  width: 10.7rem;
  height: 16rem;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  position: relative;
  background: var(--secondary-bg);
  border-radius: 4px;
  padding: .2rem;
  border: 1px solid rgb(240, 240, 240);
}


.product-card .card-top{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 0.2rem;
}

.card-top img{
  width: 95%;
  height: 100%;
  cursor: pointer;
  transition: .2s ease;
}

.card-top img:hover{
  transform: rotateY(9deg) scale(1.08);
}













.product-card .card-bottom{
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .1rem;
  align-items: center;
  justify-content: space-between;
  padding: .3rem;
  background: rgb(245, 243, 241);
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card-bottom .product-price{
  width: 100%;
  display: flex;
  align-items: center;
  height: 1.8rem;
  gap: .4rem;
  justify-content: start;
}

.card-bottom .new-price{
  color: rgb(26, 25, 25);
  font-size: .9rem;
  font-weight: 600;
  font-family: "poppins" sans-serif;
}

.card-bottom .old-price{
  color: rgb(95, 95, 100);
  text-decoration: line-through;
}

/*===title===*/
.card-bottom .product-title{
  font-size: .77rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(54, 54, 59);
  font-family: "poppins" sans-serif;
}

.card-bottom .rating{
  width: 100%;
  margin-top: .1rem;;
  height: 1.8rem;
  display: flex;
  align-items: center;
  padding: 0 .3rem;
  justify-content: center;
  gap: .8rem;
}

.rating .borderH{
  display: flex;
  width: 1%;
  position: relative;
  color: rgb(156, 154, 151);
}

.rating .rateMe{
  width: 30%;
  border-radius: 1rem;
  position: relative;
  align-items: center;
  display: flex;
  gap: .3rem;
  justify-content: center;
  text-align: center;
  font-size: .9rem;
  font-family: "poppins" sans-serif;
  font-weight: 700;
  color: rgb(255, 187, 0);
}

.rateMe img{
  width: .65rem;
  height: .7rem;
}

.rating .buyMe{
  width: 40%;
  white-space: nowrap;
  border: none;
  padding: .1rem .2rem;
  cursor: pointer;
  background: var(--primary-cl);
  color: rgb(113, 113, 117);
  font-family: "poppins" sans-serif;
  font-size: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 12px;
  border-bottom: 2px solid var(--secondary-bg-2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.rating .buyMe img{
  width: 1.3rem;
  height: 1.3rem;
  display: block;
}














/*========PRODUCTS 2 CONTAINER======*/
 .all-products-wrapper .products-2-main-container{
width: 100%;
position: relative;
height: 11rem;
margin-top: 2rem;
background: var(--secondary-bg);
margin-bottom: 2rem;
align-items: center;
justify-self: center;
display: flex;
justify-content: center;
}

.products-2-main-container .topDealLeft{
  width: max-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.products-2-main-container .topDealLeft img{
  width: 12rem;
  height: 9.5rem;
  transition: 5s ease;
  cursor: pointer;
}

.topDealLeft img:hover{
  transform: scale(1.04) rotateY(360deg);
}


/*===middle===*/
.products-2-main-container .topDealMiddle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  position: relative;
  height: 100%;
  gap: 1rem;
  padding: 2rem 0;
  background: transparent;
  text-align: center;
  border-radius: 1.6rem;;
}

.topDealMiddle .topDealMiddle-top{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
  position: relative;
  color: white;
  opacity: .9;
}


.topDealMiddle-top span{
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-cl-2);
  border-radius: 50%;
}










.topDealMiddle .topDealMiddle-middle{
  display: flex;
  flex-direction: column;
  gap: .2rem;
  width: 100%;
  height: 20rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

.topDealMiddle-middle h2{
  font-size: 1.1rem;
  font-family: "poppins" sans-serif;
  font-weight: 700;
  color: rgb(37, 37, 41);
  line-height: 1.1;
}

.topDealMiddle-middle small{
  font-size: .8rem;
  font-family: "poppins" sans-serif;
  font-weight: 600;
  color: rgb(43, 40, 40);
}





.topDealMiddle .topDealMiddle-bottom{
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.topDealMiddle-bottom .chop-now{
  width: 70%;
  border: none;
  background: var(--bg-cl-2);
  color: white;
  opacity: .8;
  padding: .4rem 0;
  border-radius: 1rem;
  cursor: pointer;
}


.products-2-main-container .topDealRight{
  width: max-content;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.products-2-main-container .topDealRight img{
  width: 12rem;
  height: 9rem;
  transition: 5s ease;
  cursor: pointer;
}

.topDealRight img:hover{
  transform: scale(1.04) rotateY(360deg);
}


 .all-products-wrapper .product2-grid-container{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  align-items: center;
  padding: 0 .6rem;
  margin-bottom: 2rem;
}

.product2-grid-container .section-title{
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: start;
  position: relative;
}

.product2-grid-container .section-title h2{
  color: var(--bg-cl-2);
  font-size: 1.3rem;
  font-family: "poppins" sans-serif;
  font-weight: 700;
}

.product2-grid-container .products-2-cards-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.products-2-cards-wrapper .product-2{
  width: 22rem;
  height: 10rem;
  display: flex;
  gap: .4rem;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2rem;
  background-color: var(--secondary-bg);
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.product-2 img{
  width: 80%;
  height: 99%;
  display: block;
  margin-left: 3rem;
}

.product-2 .overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(9, 21, 87, 0.37);
color: white;
padding: 20px;

clip-path: polygon(0 0, 0% 0, 80% 0%, 0% 100%);
transition: .5s ease;
z-index: 2;
}

.overlay:hover{
left: -4%;
cursor: pointer;
}


.overlay h2{
  font-size: 1rem;
  font-family: "poppins" sans-serif;
  font-weight: 700;
  color: white;
  transform: translateX(-50px);
  opacity: 0;
  transition: .5s;
}

.product-2:hover h2{
  transform:  translateX(0);
  opacity: 1;
}

.overlay p{
  background: var(--btn-bg-cl);
  padding: 0 1rem;
  border-radius: 1rem;
  color: white;
  font-size: .8rem;
  font-family: "poppins" sans-serif;
}


/*====product 3 section=====*/


 .all-products-wrapper .product3-grid-container{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  align-items: center;
  padding: 1rem .6rem;
  margin-bottom: 2rem;
  background: var(--secondary-bg);
}


.product3-grid-container .section-title{
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: start;
  position: relative;
}

.product3-grid-container .section-title h2{
  color: var(--bg-cl-2);
  font-size: 1.3rem;
  font-family: "poppins" sans-serif;
  font-weight: 700;
}

.product3-grid-container .products-3-cards-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.products-3-cards-wrapper .product-3{
  width: 16.3rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .2rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.product-3 .product-3-top{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-3-top img{
  width: 98%;
  height: 98%;
  display: block;
}




.product-3 .product-3-bottom{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  align-items:start;
  justify-content:center;
  position: relative;
  padding: 1rem;
}

.product-3-bottom p{
  font-family: "poppins" sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--bg-cl);
}

.product-3-bottom small{
  color: rgb(78, 74, 74);
  opacity: .9;
}


.product-3-bottom .price{
  color: var(--bg-cl-2);
  font-family: "poppins" sans-serif;
  font-weight: 500;
  font-size: 1rem;
}